#first {
    width: 25%;
  }
header {
    grid-area: header;
    color: white;
    padding: 10px;
    font-family: 'Gill Sans';
    font-size: 200%;
    text-align: center;
    background-image: url('./bridge.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main {
    grid-area: main;
    color: #2d2f77;
    padding: 10px;
    text-align: center;
  }
  nav {
    grid-area: nav;
    background-color: #2d2f77;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  footer {
    grid-area: footer;
    color: #2d2f77;
    text-align: center;
  }